body {
    background-color: #242526;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.match {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 10px;
}

.match-title {
    font-size: 2.5em;
    font-weight: bold;
}

.match-date {
    font-size: 1.2em;
}

.match-table {
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

.match-table th, .match-table td {
    border: none;
    padding: 12px;
    text-align: center;
}

.match-table th {
    background-color: #4e73df;
    color: #fff;
    font-weight: bold;
}

.match-table tbody tr:nth-child(-n+5) {
    background-color: #26303b;
}

.match-table tbody tr:nth-child(n+6) {
    background-color: #392a2b;
}

.item-icon {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spell-icon, .rune-icon {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 4px;
}

.champion-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kda {
    font-weight: bold;
    color: #1cc88a;
}

.item-row {
    display: flex;
    justify-content: center;
}

.item-slot {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 4px;
}

.spells-runes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#search-input {
    width: 300px;
    border-radius: 4px 0 0 4px;
}

#search-button {
    width: 40px;
    border-radius: 0 4px 4px 0;
}

.team-score {
    margin: 10px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    border-radius: 4px;
    background: rgb(57, 58, 60);
}

.team-red {
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    order: 0;
    flex: 1 1 0%;
}

.team-lose {
    color: rgb(244, 88, 78);
    font-size: 1.5em;
    font-weight: bold;
}

.team-blue {
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1 1 0%;
}

.team-win {
    color: rgb(49, 142, 239);
    font-size: 1.5em;
    font-weight: bold;
}

.team-content {
    color: #ffffff;
    margin: 10px auto;
}

.team-gold {
    color: #eac131;
    margin: 10px auto;
}

.error {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-size: 2em;
    font-weight: bold;
}
