<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="match">
        <div class="search-container">
            <input type="text" id="search-input" class="form-control" placeholder="플레이어 검색( 플레이어#KR1 )">
            <button id="search-button" type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>
        <div class="match-title" th:text="${match.matchCategory().getName()}"></div>
        <div class="match-date" th:text="${#temporals.format(match.gameDate(), 'yyyy/MM/dd - HH:mm')}"></div>

        <div class="team-score">
            <div th:if="${match.teams().get(0).win()} == true" class="team-win team-blue">
                <div class="team-content" th:text="${match.teams().get(0).teamCategory().getName()}"></div>
                승리
                <div class="team-gold" th:text="${#numbers.formatDecimal(match.teams().get(0).gold() / 1000.0,1,1)}+'K'"></div>
                <div class="team-content" th:text="${match.teams().get(0).kills()}"></div>
            </div>
            <div th:if="${match.teams().get(0).win()} != true" class="team-lose team-blue">
                <div class="team-content" th:text="${match.teams().get(0).teamCategory().getName()}"></div>
                패배
                <div class="team-gold" th:text="${#numbers.formatDecimal(match.teams().get(0).gold() / 1000.0,1,1)}+'K'"></div>
                <div class="team-content" th:text="${match.teams().get(0).kills()}"></div>
            </div>
            <div th:if="${match.teams().get(1).win()} == true" class="team-win team-red">
                <div class="team-content" th:text="${match.teams().get(1).teamCategory().getName()}"></div>
                승리
                <div class="team-gold" th:text="${#numbers.formatDecimal(match.teams().get(1).gold() / 1000.0,1,1)}+'K'"></div>
                <div class="team-content" th:text="${match.teams().get(1).kills()}"></div>
            </div>
            <div th:if="${match.teams().get(1).win()} != true" class="team-lose team-red">
                <div class="team-content" th:text="${match.teams().get(1).teamCategory().getName()}"></div>
                패배
                <div class="team-gold" th:text="${#numbers.formatDecimal(match.teams().get(1).gold() / 1000.0,1,1)}+'K'"></div>
                <div class="team-content" th:text="${match.teams().get(1).kills()}"></div>
            </div>
        </div>

        <table class="match-table">
            <tbody>
            <tr th:each="player , index: ${match.players()}">
                <td>
                    <img th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/' + ${player.championName()} +'.png'"
                         class="champion-icon" th:alt="${player.championName()}">
                </td>
                <td th:text="${player.champLevel()}"></td>
                <td>
                    <div class="spells-runes">
                        <img th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/spell/' + ${spell.get(player.spellD()).getId()} +'.png'"
                             class="spell-icon" th:alt="${spell.get(player.spellD()).getId()}">
                        <img th:src="'https://ddragon.leagueoflegends.com/cdn/img/'+ ${rune.get(player.primaryRuneIds().get(0)).getIcon()}"
                             class="rune-icon" alt="Rune 1">
                    </div>
                    <div class="spells-runes">
                        <img th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/spell/' + ${spell.get(player.spellF()).getId()} +'.png'"
                             class="spell-icon" th:alt="${spell.get(player.spellF()).getId()}">
                        <img th:src="'https://ddragon.leagueoflegends.com/cdn/img/'+ ${rune.get(player.secondaryPageId()).getIcon()}"
                             class="rune-icon" alt="Rune 2">
                    </div>
                </td>
                <td th:text="${player.riotIdGameName()}+'#'+${player.riotIdTagline()}"></td>
                <td>
                    <div class="kda" th:text="${#numbers.formatDecimal(player.kda(), 1,2)}"></div>
                    <div th:text="${player.kills()}+ '/' +${player.deaths()}+ '/' + ${player.assists()}"></div>
                </td>
                <td>
                    <div class="item-row">
                        <img th:if="${player.items().get(0)} != 0"
                             th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/item/'+${player.items().get(0)}+'.png'"
                             class="item-icon" alt="Item 1">
                        <div th:if="${player.items().get(0)} == 0" class="item-slot"></div>

                        <img th:if="${player.items().get(1)} != 0"
                             th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/item/'+${player.items().get(1)}+'.png'"
                             class="item-icon" alt="Item 2">
                        <div th:if="${player.items().get(1)} == 0" class="item-slot"></div>

                        <img th:if="${player.items().get(2)} != 0"
                             th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/item/'+${player.items().get(2)}+'.png'"
                             class="item-icon" alt="Item 3">
                        <div th:if="${player.items().get(2)} == 0" class="item-slot"></div>
                    </div>
                    <div class="item-row">
                        <img th:if="${player.items().get(3)} != 0"
                             th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/item/'+${player.items().get(3)}+'.png'"
                             class="item-icon" alt="Item 4">
                        <div th:if="${player.items().get(3)} == 0" class="item-slot"></div>

                        <img th:if="${player.items().get(4)} != 0"
                             th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/item/'+${player.items().get(4)}+'.png'"
                             class="item-icon" alt="Item 5">
                        <div th:if="${player.items().get(4)} == 0" class="item-slot"></div>

                        <img th:if="${player.items().get(5)} != 0"
                             th:src="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/item/'+${player.items().get(5)}+'.png'"
                             class="item-icon" alt="Item 6">
                        <div th:if="${player.items().get(5)} == 0" class="item-slot"></div>
                    </div>
                </td>
                <td>
                    <div th:text="'CS ' + ${player.cs()} + ' ('+${#numbers.formatDecimal(player.csPerMinute(),1,1)}+')'"></div>
                    <div th:text="'골드 ' +${player.goldEarned()}"></div>
                </td>
                <td>
                    <div th:text="${player.totalChampionsDamage()}"></div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
